html body {
    font-size: 16px;
    background-color: rgb(241, 236, 236);
}

.invalid-feedback {
    display: block;
}

.modal .modal-content {
    background-color: rgb(148, 202, 229);
}

body .table td,
body .table th {
    vertical-align: middle;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.container-fluid td button {
    font-size: 13px;
}